<header class="main-header">
  <nav>
    <a routerLink="/">Catálogo</a>
    <a routerLink="/cart">Carrito</a>
    <a routerLink="/dashboard">Dashboard</a>

    <span class="right">
      <ng-container *ngIf="!isLogged">
        <a routerLink="/login">Iniciar sesión</a>
      </ng-container>

      <ng-container *ngIf="isLogged">
        <span class="user">Hola, {{ email }}</span>
        <button (click)="logout()">Salir</button>
      </ng-container>
    </span>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>