.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .card {
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
  
    img {
      width: 100%;
      border-radius: 4px;
    }
  
    h3 {
      margin: 10px 0;
    }
  
    .price {
      font-weight: bold;
      color: #02732a;
    }
  }  